<section class="about-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="body">
    <div class="alert alert-success">
      <h2>Our products</h2>
      <p>Our products are 100% organic and we use recycled materials. Hand crafted in Switzerland.</p>
    </div>

    <div class="alert alert-danger">
      <h2>Return and refund</h2>
      <p>Items are final sale only, but the owner is feeling generous so you can get 10% of the money back if you request a return within 2 hours</p>
    </div>
  </div>

  <div class="well">
    <%= link_to "Back", products_path, class: "btn btn-primary"%>
  <div> 

</section>